<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: html-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <style>
    .container {
      margin-top: 100px;
      width: 600px;
    }
    .mb-3 {
      margin: 20px;
    }
  </style>
  <body>
    <div th:replace="fragments/common :: header"></div>
    <div class="container">
      <h2 style="text-align: center; margin: 50px">회원가입</h2>
      <form
        role="form"
        action="/members/new"
        th:action
        th:object="${member}"
        method="post"
      >
        <div class="mb-3 row">
          <label th:for="loginId" class="col-sm-2 col-form-label">아이디</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              placeholder="아이디를 입력하세요"
              required="required"
              th:field="*{loginId}"
            />
            <!--<p th:if="${#fields.hasErrors('loginId')}" th:errors="*{name}">
              Incorrect date
            </p>-->
          </div>
        </div>
        <div class="mb-3 row">
          <label th:for="password" class="col-sm-2 col-form-label"
            >비밀번호</label
          >
          <div class="col-sm-10">
            <input
              type="password"
              class="form-control"
              placeholder="비밀번호를 입력하세요"
              required="required"
              th:field="*{password}"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label th:for="nickname" class="col-sm-2 col-form-label"
            >닉네임</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              placeholder="닉네임을 입력하세요"
              required="required"
              th:field="*{nickname}"
            />
          </div>
        </div>
        <!--<small id="nicknameHelp" class="form-text text-muted">
            공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요. 가입후에 변경할 수 있습니다.
        </small>-->
        <div class="mb-3 row">
          <label th:for="email" class="col-sm-2 col-form-label">이메일</label>
          <div class="col-sm-10">
            <input
              type="email"
              class="form-control"
              placeholder="name@example.com"
              required="required"
              th:field="*{email}"
            />
          </div>
        </div>
        <div style="text-align: center">
          <button
            type="submit"
            class="btn btn-primary"
            style="margin: 50px ; text-align: center"
          >
            회원가입
          </button>
        </div>
      </form>
    </div>

    <!--/container -->
  </body>
</html>
