<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: html-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    .container {
      margin-top: 100px;
      width: 600px;
    }
    .mb-3{
      margin: 20px;
    }
    .field-error{
        border-color: crimson;
        color: crimson;
    }

</style>
<link rel="stylesheet" href="./login.css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <h2 style="text-align: center; margin: 50px;">로그인</h2>

    <form th:action th:object="${member}" method="post">
        <div class="mb-3 row">
            <label for="inputId" class="col-sm-2 col-form-label">아이디</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputId" required="required"
                       th:field="*{loginId}"/>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">비밀번호</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" required="required "
                       th:field="*{password}"/>
            </div>
        </div>
        <br>
        <div th:if="${#fields.hasGlobalErrors()}" style="text-align: center">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div style="text-align: center">
            <button
                    type="submit"
                    class="btn btn-primary"
                    style="margin: 50px; text-align: center"
            >
                로그인
            </button>
        </div>
    </form>
</div>
</body>
</html>
