<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: html-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
      <div th:object="${post}">
        <!--title-->
        <h1 class="mt-5" th:text="*{title}">제목</h1>
        <small th:text="|작성자 : *{nickname}|">작성자</small><br>
        <small th:text="|작성일 : ${#temporals.format(post.createdDate, 'yyyy-mm-dd HH:mm:ss')}|">작성일</small><br>
        <small th:text="|수정일 : ${#temporals.format(post.createdDate, 'yyyy-mm-dd HH:mm:ss')}|">수정일</small>



        <!--content-->
        <div style="margin-top: 20px;">
          <p th:utext="*{content}">내용</p>
        </div>

        <!-- 작성자에게만 삭제/수정버튼 표시-->
        <div style="text-align: center; margin: 100px;">
          <button type="button" class="btn btn-primary"
                  onclick="location.href='home.html'"
                  th:onclick="|location.href='@{/}'|">목록</button>
          <button type="button" class="btn btn-primary"
                  th:if="${post.getMemberId().equals(memberId)}"
                  th:onclick="|location.href='@{/posts/edit/{postId}(postId=${post.id})}'|"
          >수정</button>
          <button hidden>
          <form action="#" th:action="@{'/posts/delete/{id}'(id=${post.id})}" th:method="delete" >
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" class="btn btn-primary" id="submitButton"
                    th:if="${post.getMemberId().equals(memberId)}">삭제</button>
          </form>
          </button>

        </div>
      </div>

      <!--comment-->
      <div th:each="comment : ${comments}">
        <div>
          <p th:text="${comment.nickname}">닉네임</p>
          <p th:text="${comment.createdDate}">작성일</p>
        </div>
        <div>
          <p th:utext="${comment.content}">내용</p>
        </div>
      </div>

    </div>


    </div>
  </body>
</html>
