<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: html-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <style>
    .detailInfo {
      color: gray;
      font-size: small;
    }
    .comment {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .commentNickname {
      font-size: medium;
      font-weight: bold;
    }
    .borderlessButton {
      border: 0;
      outline: 0;
      display: inline-block;
    }
    .hidden {
      display: none;
    }
  </style>
  <body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
      <!--post-->
      <div th:object="${post}">
        <!--title-->
        <h1 class="mt-5" th:text="*{title}">제목</h1>
        <small th:text="|작성자 : *{nickname}|" class="detailInfo">작성자</small
        ><br />
        <small
          th:text="|작성일 : ${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}|"
          class="detailInfo"
          >작성일</small
        ><br />
        <div th:unless="${post.getCreatedDate().equals(post.getUpdatedDate())}"><small

                th:text="|수정일 : ${#temporals.format(post.updatedDate, 'yyyy-MM-dd HH:mm')}|"
                class="detailInfo"
        >수정일</small
        ><br /></div>
        <small th:text="|조회수 : *{views}|" class="detailInfo">조회수</small>

        <!--content-->
        <div style="margin-top: 20px">
          <pre
            style="white-space: pre-wrap; word-break: break-all"
            th:utext="*{content}"
          >
내용</pre
          >
        </div>

        <!-- 작성자에게만 삭제/수정버튼 표시-->
        <div style="text-align: center; margin: 100px">
          <button
            type="button"
            class="btn btn-primary"
            onclick="location.href='home.html'"
            th:onclick="|location.href='@{/}'|"
          >
            목록
          </button>

          <button
            type="button"
            class="btn btn-primary"
            th:if="${post.getMemberId().equals(memberId)}"
            th:onclick="|location.href='@{/posts/edit/{postId}(postId=${post.id})}'|"
          >
            수정
          </button>

          <button hidden>
            <form
              action="#"
              th:action="@{'/posts/delete/{id}'(id=${post.id})}"
              th:method="delete"
            >
              <input type="hidden" name="_method" value="delete" />
              <button
                type="submit"
                class="btn btn-primary"
                id="submitButton"
                th:if="${post.getMemberId().equals(memberId)}"
                onclick="alert('글이 삭제되었습니다.')"
              >
                삭제
              </button>
            </form>
          </button>
        </div>
      </div>

      <div th:unless="${post.getComments().isEmpty()}"><hr /></div>

      <!--comments-->
      <div class="comment" th:each="comment : ${comments}">
        <div th:id="'c'+${comment.id}">
          <!-- 댓글 상단 레이아웃 -->
          <div style="width: 100%; height: 50px; margin-bottom: 10px">
            <!-- 댓글 정보 표시 -->
            <div style="width: 70%; float: left">
              <h6 class="commentNickname" th:text="${comment.nickname}">
                닉네임
              </h6>
              <small
                th:text="|작성일 : ${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm')}|"
                class="detailInfo"
              >
                작성일
              </small>
              <small
                th:unless="${comment.getCreatedDate().equals(comment.getUpdatedDate())}"
                th:text="|  수정일 : ${#temporals.format(comment.updatedDate, 'yyyy-MM-dd HH:mm')}|"
                class="detailInfo"
              >
                수정일
              </small>
            </div>

            <!--댓글 수정/삭제 버튼-->
            <div style="width: 30%; float: right; text-align: right">
              <button
                id="comment_edit_btn"
                type="button"
                class="detailInfo borderlessButton btn"
                th:if="${comment.getMemberId().equals(memberId)}"
                th:onclick="|comment_edit_form(${comment.getId()})|"
              >
                수정
              </button>
              <button hidden>
                <form
                  th:action="@{'/posts/post/{postId}/comments/{commentId}'(postId=${post.id}, commentId=${comment.id})}"
                  th:method="delete"
                >
                  <input type="hidden" name="_method" value="delete" />
                  <button
                    id="comment_delete_btn"
                    type="submit"
                    class="detailInfo borderlessButton btn"
                    th:if="${comment.getMemberId().equals(memberId)}"
                    onclick="alert('댓글이 삭제되었습니다.')"
                  >
                    삭제
                  </button>
                </form>
              </button>
            </div>
          </div>
          <!-- 댓글 상단 레이아웃 -->

          <!-- 댓글 하단 레이아웃 -->
          <div>
            <!-- 댓글 내용 -->
            <div>
              <pre
                id="comment_content"
                style="
                  white-space: pre-wrap;
                  word-wrap: break-word;
                  word-break: break-all;
                  text-align: left;
                "
                th:utext="${comment.content}"
              ></pre>

              <!-- 댓글 수정 폼 -->
              <div id="comment_edit" class="hidden" style="text-align: right">
                <form
                  th:action="@{'/posts/post/{postId}/comments/{commentId}'(postId=${post.id}, commentId=${comment.id})}"
                  th:method="post"
                >
                  <div class="mb-3">
                    <input type="hidden" name="_method" value="put" />
                    <input type="hidden" name="id" th:value="${comment.id}" />
                    <textarea
                      class="form-control"
                      rows="3"
                      th:name="content"
                      th:text="${comment.content}"
                    ></textarea>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="detailInfo borderlessButton btn"
                    >
                      댓글 수정
                    </button>
                    <button
                      type="button"
                      class="detailInfo borderlessButton btn"
                      th:onclick="|comment_edit_form(${comment.getId()})|"
                    >
                      취소
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </div>
      <!--comments-->

      <!-- 댓글 작성란 -->
      <div>
        <form role="form" th:action th:object="${addComment}" method="post">
          <div class="mb-3">
            <label for="content" class="form-label">댓글 작성</label>
            <textarea
              class="form-control"
              id="content"
              placeholder="댓글을 입력하세요."
              rows="3"
              th:field="*{content}"
              th:errorclass="field-error"
            ></textarea>
            <div class="field-error" th:errors="*{content}">글 오류</div>
          </div>
          <div style="text-align: right; margin-bottom: 100px">
            <button type="submit" class="btn btn-primary">등록</button>
          </div>
        </form>
      </div>
    </div>
    <!--container-->

    <script type="text/javascript" th:inline="javascript">
      function comment_edit_form(cId) {
        let target = document.getElementById("c" + cId);

        target.querySelector("#comment_edit").classList.toggle("hidden");
        target.querySelector("#comment_content").classList.toggle("hidden");
        target.querySelector("#comment_edit_btn").classList.toggle("hidden");
        target.querySelector("#comment_delete_btn").classList.toggle("hidden");
      }


      // TODO 추가하고 싶은 기능 : 삭제 다시 묻기
      // $("#comment_delete_btn").click(function () {
      //   if (confirm("정말 삭제하시겠습니까?") == true) {
      //     alert("성공적으로 삭제되었습니다.");
      //   } else {
      //     return;
      //   }
      // });
    </script>
  </body>
</html>
