<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: html-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    .container {
      margin-top: 100px;
      width: 800px;
    }
    .mb-3 {
      margin: 20px;
    }
    .field-error{
        border-color: crimson;
        color: crimson;
    }
  </style>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
<form role="form"
      action="/posts/write"
      th:action th:object="${post}" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요."
            th:field="*{title}" th:errorclass="field-error">
        <div class="field-error" th:errors="*{title}">
            타이틀 오류
        </div>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea class="form-control" id="content" placeholder="내용을 입력하세요." rows="10"
            th:field="*{content}" th:errorclass="field-error"></textarea>
        <div class="field-error" th:errors="*{content}">
            글 오류
        </div>
    </div>
    <div style="text-align: center; margin: 50px;">
    <button
            type="submit"
            class="btn btn-primary"
    >
        글 등록하기
    </button>
    </div>
</form>
</div>
</body>
</html>