<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: html-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="./home.css"/>
</head>

<body>
<div class="container">
    <div th:replace="fragments/header :: header">-- thymeleaf header will be inserted here. --</div>

    <!-- navbar -->
    <nav class="navbar justify-content-end navbar-expand-lg navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/posts/write"
            th:href="${member} ? '/posts/write' : 'members/login'"
            >글쓰기</a>
        </li>
        <li class="nav-item" th:style="${member} ? 'display: none'">
            <a class="nav-link" href="/members/login"
            >로그인</a>
        </li>
        <form class="nav-item"
              th:style="${member} ?: 'display: none'"
              th:action="@{/members/logout}"
              method="post">
            <a class="nav-link"
               href="/members/logout"
            >
                로그아웃</a>
        </form>
        <li class="nav-item">
            <a class="nav-link" href="/members/new">회원가입</a>
        </li>
    </ul>
    </nav>

    <h1 style="margin: 8%; text-align: left"
        th:text="${member} ? |${member.nickname}님 어서오세요!| : 'Hello!'">Hello!</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col"></th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td colspan="2" class="title">Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td colspan="2" class="title">Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2" class="title">Larry the Bird</td>
            <td>whowhowho</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
